<a href="https://colab.research.google.com/github/gabriel-capozzi/API_YOUTUBE/blob/main/MMV_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [237]:
import pandas as pd
from datetime import datetime
import re

In [238]:
videosDf = pd.read_excel('/content/drive/MyDrive/videosMMV.xlsx', index_col =0)

In [239]:
videosDf

,videoId,videoName,publishDate,publishTime,viewCount,likeCount,commentCount,duration
0,uAiVRTfZb0s,"3,5 MILHÕES DE LITROS DE ÁGUA, VISITAMOS O MAI...",2022-09-13,14:50:58Z,14926,2165,36,PT26M56S
1,W5Ser29K8ns,ME PERDI NO RIO DE JANEIRO E OLHA NO QUE DEU !,2022-09-12,15:41:17Z,24051,2730,52,PT15M15S
2,1Mf8bpAISZM,FINALIZAMOS A CRIAÇÃO DE PEIXE NA CAIXA D&#39;...,2022-09-10,15:15:29Z,44768,4575,77,PT16M4S
3,BqIdHHVvQEA,LIVE DO CAFÉ ELETRIZANTE - MMMV CAST #8,2022-09-09,01:07:18Z,8641,756,6,PT2H25M6S
4,QxWIu7vWvFE,FIZ UMA RESSONÂNCIA MAGNÉTICA PARA DESCOBRIR O...,2022-09-07,20:19:10Z,37634,3436,45,PT17M23S
...,...,...,...,...,...,...,...,...
496,hPB9SCfQ_qs,TORNEIO DOS BRABO ( MMMV POKER ),2016-06-02,01:00:00Z,181706,21750,669,PT25M23S
497,pwmytqI3zvU,PENSA EM UM CARA FELIZ !,2016-05-26,01:48:47Z,267723,30219,995,PT35M39S
498,64u11c_9kB0,FERRARI AQUÁTICA E CACHORRA SELVAGEM !,2016-05-19,14:00:01Z,226554,24706,883,PT35M42S
499,fWFYuW5tH78,CANDIDATO JOÃO E FUTURO APARTAMENTO,2016-03-31,01:13:55Z,259221,31421,1209,PT15M29S
500,C2joz5TLn3o,PALMINHAS ENCANTADORAS !,2016-03-20,14:00:00Z,429395,43425,1472,PT21M30S

In [240]:
for index, row in videosDf.iterrows():
  videosDf.loc[index,'publishTime'] = row['publishTime'][:-1]

In [241]:
for index, row in videosDf.iterrows():
  videosDf.loc[index,'publishDate'] = datetime.strptime(row['publishDate'], '%Y-%m-%d').date()

In [242]:
for index, row in videosDf.iterrows():
  videosDf.loc[index,'publishTime'] = datetime.strptime(row['publishTime'],'%H:%M:%S').time()

In [252]:
for index, row in videosDf.iterrows():
  videosDf.loc[index,'Year'] =  format(row['publishDate'].year)

In [253]:
videosDf

,videoId,videoName,publishDate,publishTime,viewCount,likeCount,commentCount,duration,Year
0,uAiVRTfZb0s,"3,5 MILHÕES DE LITROS DE ÁGUA, VISITAMOS O MAI...",2022-09-13,14:50:58,14926,2165,36,PT26M56S,2022
1,W5Ser29K8ns,ME PERDI NO RIO DE JANEIRO E OLHA NO QUE DEU !,2022-09-12,15:41:17,24051,2730,52,PT15M15S,2022
2,1Mf8bpAISZM,FINALIZAMOS A CRIAÇÃO DE PEIXE NA CAIXA D&#39;...,2022-09-10,15:15:29,44768,4575,77,PT16M4S,2022
3,BqIdHHVvQEA,LIVE DO CAFÉ ELETRIZANTE - MMMV CAST #8,2022-09-09,01:07:18,8641,756,6,PT2H25M6S,2022
4,QxWIu7vWvFE,FIZ UMA RESSONÂNCIA MAGNÉTICA PARA DESCOBRIR O...,2022-09-07,20:19:10,37634,3436,45,PT17M23S,2022
...,...,...,...,...,...,...,...,...,...
496,hPB9SCfQ_qs,TORNEIO DOS BRABO ( MMMV POKER ),2016-06-02,01:00:00,181706,21750,669,PT25M23S,2016
497,pwmytqI3zvU,PENSA EM UM CARA FELIZ !,2016-05-26,01:48:47,267723,30219,995,PT35M39S,2016
498,64u11c_9kB0,FERRARI AQUÁTICA E CACHORRA SELVAGEM !,2016-05-19,14:00:01,226554,24706,883,PT35M42S,2016
499,fWFYuW5tH78,CANDIDATO JOÃO E FUTURO APARTAMENTO,2016-03-31,01:13:55,259221,31421,1209,PT15M29S,2016
500,C2joz5TLn3o,PALMINHAS ENCANTADORAS !,2016-03-20,14:00:00,429395,43425,1472,PT21M30S,2016

In [256]:
videosDf[['viewCount', 'likeCount', 'commentCount']].describe()

           viewCount      likeCount  commentCount
count     501.000000     501.000000    501.000000
mean   102833.135729   13283.658683    326.932136
std     71135.933713   10213.683661    430.714090
min      8641.000000     756.000000      6.000000
25%     64623.000000    7361.000000    125.000000
50%     79654.000000    9666.000000    193.000000
75%    118896.000000   16188.000000    363.000000
max    626076.000000  101151.000000   4764.000000